<h1>Image Uploaded</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Tags</th>
  </tr>

  <% @pictures.reverse_each do |picture| %>
    <tr>
      <td><%= picture.name %></td>
      <td><%= image_tag src = picture.link %></td>
      <td><%= picture.tag_list %></td>
      <td><%= link_to 'Show', picture_path(picture) %></td>
    </tr>
  <% end %>
</table>
